<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Presto Balance</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let card of prestoData" (click)="clickHandler(card.cardData.userTable)">
    <ion-card-header>
      <h1>
        {{card.username}}
      </h1>
    </ion-card-header>
    <ion-card-content>
      <b>Balance on {{card.cardData.cardMain.name}}: {{card.cardData.cardMain.balance}}</b>

      <ng-container *ngFor="let otherCard of card.cardData.otherCards">
        <hr />
        <p>
          {{otherCard.name}}: {{otherCard.balance}}
        </p>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab mini (click)="addNewAccount()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
