<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Presto Balance</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="accountCount == 0" (click)="addNewAccount()">
    <ion-card-header text-center>
      <h1>
        No account added <br> Add a new card
      </h1>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let card of prestoData" (click)="clickHandler(card.cardData.balanceTable, card.username)">
    <ion-card-header>
      <h1>
        {{card.username}}
      </h1>
    </ion-card-header>
    <ion-card-content>
      <p>
        <b>{{card.cardData.cardInfo.name}}: {{card.cardData.cardInfo.balance}}</b>
      </p>
      <p>
        <small>{{card.cardData.cardInfo.number}}</small>
      </p>
      <ng-container *ngFor="let oc of card.cardData.otherCard">
        <hr />
        <p>
          {{oc}}
        </p>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="addNewAccount()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>